.about {
	@extend %section;
	padding-top: 0;
}
.about__list {
	@extend %list;
	display: flex;
	margin-top: 50px;
}

.about__item + .about__item {
	margin-left: 30px;
}
.about__item {
	position: relative;

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 70px;
		background: rgba(47, 48, 58, 0.8);
	}
}
.about__title {
	position: absolute;
	display: flex;
	bottom: 27px;
	left: 107px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;

	text-transform: uppercase;

	color: #ffffff;
}
