.footer__logo {
	display: block;

	color: var(--accent-button-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background: #2f303a;
	justify-content: center;
}
.footer-wrap__address {
	display: block;
	margin-top: 20px;

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: #ffffff;
}

.footer-wrap__link {
	@extend %link;
	display: inline-block;
	margin-top: 9px;

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	transition: color 250ms var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.footer-wrap__street {
	display: inline-block;
	font-family: "Roboto", sans-serif;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
	transition: color 250ms var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.footer-social__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--accent-button-color);
}
.footer-social__list {
	@extend %list;
	display: flex;
	margin-top: 20px;
	gap: 10px;

}
.footer-social__link {
	@extend %link;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 250ms var(--timing-function);

	&:hover,
	&:focus {
		background: var(--accent-color);
	}
}
.footer-social__icon {
	width: 20px;
	height: 20px;
	fill: var(--accent-button-color);
}
.footer-subscription {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--accent-button-color);
}
// --------------------------------------------form---------------------------------------//
.footer-subscription__form {
	display: flex;
	width: 570px;
	margin-top: 20px;
}
.footer-subscription__field {
	margin-right: 12px;
	padding: 15px 16px;
	width: 358px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	outline: transparent;
	color: rgba(255, 255, 255, 0.6);

	transition: border-color 250ms var(--timing-function);

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;

		align-items: center;

		color: rgba(255, 255, 255, 0.6);
	}
	&:focus {
		border-color: var(--accent-color);
	}
}
.footer__container {
	display: flex;
	gap: 70px;
	align-items: baseline;
	justify-content: space-between;
}
.btn-subscription {
	padding: 10px 28px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
}
.footer-subscription__icon {
	margin-left: 10px;
}
