.works {
	@extend %section;
}
.filter {
    @extend %list;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter__item + .filter__item {
	margin-left: 8px;
}
.filter-button {
	display: inline-block;
	border-radius: 4px;
	padding: 6px 25px;
	min-width: 73px;
	text-align: center;
	border: 1px solid transparent;
	color: var(--title-text-color);
	background-color: var(--bg-button);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	text-decoration: none;
	transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);

	&:not(:first-child) {
		padding: 6px 22px;
	}
	&:hover,
	&:focus {
		color: var(--accent-button-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.element {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--card-set-gap));
	margin-top: calc(-1 * var(--card-set-gap));
}
.element__list {
	@extend %list;
	flex-basis: calc((100%/3) - var(--card-set-gap));
	margin-left: var(--card-set-gap);
	margin-top: var(--card-set-gap);
	background-color: #ffffff;
	transition: box-shadow 250ms var(--timing-function);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}
.element__thumb {
	position: relative;
	overflow: hidden;
}

.element__resource {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;
	color: #ffffff;
	background: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	opacity: 0;
	transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.element__link {
	@extend %link;

	&:hover .element__resource {
		transform: translateY(0%);
		opacity: 1;
	}
}

.element__content {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}
.element__title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.element__text {
	margin-top: 4px;

	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
