.team {
	@extend %section;
	background: #f5f4fa;
}
.team__list {
	@extend %list;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}
.team__card + .team__card {
	@media screen and (max-width: 767px) {
		margin-top: 30px;
	}
}
.team__card {
	max-width: 450px;

	background: var(--accent-button-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--accent-button-color);
}
.team__person {
	padding-top: 30px;
	padding-bottom: 24px;

	@media screen and (min-width: 1200px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--title-text-color);
}
.team__profession {
	margin-top: 10px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--primary-text-color);
}
.team__social-list {
	@extend %list;
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.team__link {
	width: 44px;
	height: 44px;
	background-color: var(--accent-button-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 250ms var(--timing-function), fill 250ms var(--timing-function);

	&:hover,
	&:focus {
		background: var(--accent-color);
	}

	&:hover svg,
	&:focus svg {
		fill: var(--accent-button-color);
	}
}
.team__item {
	justify-content: center;

	&:not(:first-child) {
		margin-left: 10px;
	}
}
.team__icon {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
	transition: fill 250ms var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-button-color);
	}
}
