.modal__form {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.modal__field {
	position: relative;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}
.modal__prompt {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	color: var(--primary-text-color);
}
.modal__icon {
	position: absolute;
	bottom: 11px;
	left: 12px;

	transition: fill 250ms var(--timing-function);
}

.modal__comment-wrap,
.modal__input {
	@extend %form-field;
}
.modal__input {
	margin: 0;
	padding-left: 42px;
	height: 40px;
	transition: border-color 250ms var(--timing-function);
	&:focus {
		border-color: var(--accent-color);
	}
	&:hover {
		cursor: pointer;
	}
	&:focus + .modal__icon {
		fill: var(--accent-color);
	}
}

.modal__comment-wrap {
	resize: none;
	padding: 12px 16px;
	height: 120px;
	margin-top: 4px;

	transition: border-color 250ms var(--timing-function);

	&:focus {
		border-color: var(--accent-color);
	}

	&:hover {
		cursor: pointer;
	}
}

.modal__comment {
	display: block;
	margin-bottom: 20px;
	& textarea::placeholder {
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}
}

.modal__check-wrap {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 30px;
	padding-left: 12px;
}

.modal__icon-agree {
	opacity: 0;
	transition: opacity 250ms var(--timing-function);
}
.modal__check {
	margin-right: 8px;

	&:checked + .modal__icon-check .modal__icon-agree {
		opacity: 1;
	}
}
.modal__contract {
	font-size: 14px;
	line-height: calc(24 / 14);
	color: var(--primary-text-color);
}
.modal__contract-link {
	color: var(--accent-color);
}
.modal__btn {
	width: 200px;
	height: 50px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.06em;

	color: var(--accent-button-color);

	&:hover {
		cursor: pointer;
	}
}
